<h2 mat-dialog-title>Editar Proyecto</h2>

<mat-dialog-content [formGroup]="formUpdateProject">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="w-100" appearance="outline" style="margin-top: 1rem;">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" placeholder="Nombre del proyecto" />
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field class="w-100" appearance="outline" style="margin-top: 1rem;">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="descripcion" placeholder="Descripción del proyecto" />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="w-100" appearance="outline" style="margin-top: 1rem;">
        <mat-label>Administrador</mat-label>
        <mat-select formControlName="administrador_id">
          <mat-option *ngFor="let admin of administratorsValues" [value]="admin.id">
            {{ admin.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field class="w-100" appearance="outline" style="margin-top: 1rem;">
        <mat-label>Usuarios asociados</mat-label>
        <mat-select formControlName="userIds" multiple>
          <mat-option *ngFor="let user of usersValues" [value]="user.id">
            {{ user.nombre }} - {{ user.email }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" (click)="updateProject()">Guardar Cambios</button>
</mat-dialog-actions>
