<aside
  id="leftsidebar"
  class="sidebar"
  [ngClass]="{ collapsed: isCollapsed }"
  (mouseenter)="mouseHover()"
  (mouseleave)="mouseOut()"
>

  <div class="menu-scroll">
    <ul class="menu-list" [style.maxHeight.px]="listMaxHeight">
      <li
        *ngFor="let item of sidebarItems; let i = index"
        [ngClass]="{
          active: submenuOpen[i] || item.submenu.length === 0
        }"
      >


        <a
          *ngIf="!item.groupTitle"
          class="menu-link"
          [routerLink]="item.path"
          (click)="callToggleMenu(i, item.submenu.length)"
        >
          <i class="{{ item.iconType }}" style="margin-right: .5rem;">{{ item.icon }}</i>
          <span class="item-text" [innerHTML]="sanitizeHtml(item.title)">
          </span>
          <span
            *ngIf="item.badge"
            class="badge"
            [ngClass]="item.badgeClass"
            [innerHTML]="sanitizeHtml(item.badge)"
          ></span>
          <i
            *ngIf="item.submenu.length > 0"
            class="material-icons expand-icon"
            [class.expanded]="submenuOpen[i]"
          >
            expand_more
          </i>
        </a>

      </li>
    </ul>
  </div>
</aside>
