<aside
  id="leftsidebar"
  class="sidebar"
  [ngClass]="{ collapsed: isCollapsed }"
  (mouseenter)="mouseHover()"
  (mouseleave)="mouseOut()"
>
  <div class="sidebar-header">
    <div class="user-panel" *ngIf="!isCollapsed">
      <span class="username">{{ userLogged }}</span>
    </div>
  </div>

  <div class="menu-scroll">
    <ul class="menu-list" [style.maxHeight.px]="listMaxHeight">
      <li
        *ngFor="let item of sidebarItems; let i = index"
        [ngClass]="{
          active: submenuOpen[i] || item.submenu.length === 0
        }"
      >


        <a
          *ngIf="!item.groupTitle"
          class="menu-link"
          [routerLink]="item.path"
          (click)="callToggleMenu(i, item.submenu.length)"
        >
          <i class="{{ item.iconType }}">{{ item.icon }}</i>
          <span class="item-text" [innerHTML]="sanitizeHtml(item.title)">
          </span>
          <span
            *ngIf="item.badge"
            class="badge"
            [ngClass]="item.badgeClass"
            [innerHTML]="sanitizeHtml(item.badge)"
          ></span>
          <i
            *ngIf="item.submenu.length > 0"
            class="material-icons expand-icon"
            [class.expanded]="submenuOpen[i]"
          >
            expand_more
          </i>
        </a>

        <ul
          *ngIf="item.submenu.length > 0 && submenuOpen[i]"
          class="submenu"
        >
          <li *ngFor="let sub of item.submenu">
            <a
              class="menu-link"
              [routerLink]="sub.path"
              [innerHTML]="sanitizeHtml(sub.title)"
            ></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
